@import url("file://~/.config/walker/themes/aether/colors.css");

* {
  all: unset;
}
selection {
	background: alpha(@primary, 0.4);
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.fullscreen {
	background: alpha(@crust, 0.4);
}

.box-wrapper {
  /* box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22); */
  background: @crust;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid @primary;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @text;
}

.box {
}

.search-container {
  border-radius: 10px;
}

.input placeholder {
color: @subtext;
}

.input {
  caret-color: @text;
  background: @mantle;
  padding: 10px;
  color: @fg;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @text;
}

child {
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

.item-quick-activation {
  margin-left: 10px;
  background: @mantle;
  border-radius: 5px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@primary, 0.25);
}

.item-text-box {
}

.item-text {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.item-image {
  margin-right: 10px;
}

.keybind-hints {
  font-size: 12px;
  opacity: 0.5;
  color: @subtext;
}

.preview {
  border: 1px solid @primary;
  padding: 10px;
  border-radius: 10px;
  color: @fg;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}
